<script>
import Card from './Card'
import axios from 'axios'
import jQuery from 'jquery'

export default {
  name: 'cardList',
  components: {
    Card
  },
  props: ['store', 'state'],
  template: `
    <ul class="card-list">
      <card v-bind:state="state" v-bind:currentCard="item" v-for="item in cards">
      </card>
    </ul>
  `,
  data: function () {
    return {
      cards: {}
    }
  },
  methods: {
    getCards: function (category) {
      let self = this

      self.$set(self.state, 'isLoading', true)
      jQuery('body').find('.card-list').hide()

      category = category || 'kift'

      axios.get('http://kift.place:3000/backend/get_' + category + '.php', {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(function (response) {
        self.$set(self, 'cards', response.data)
        self.$set(self.state, 'isLoading', false)
        jQuery('body').find('.card-list').fadeIn()
        console.log('hello', self.state)
      }).catch(function (error) {
        console.log(error)
      })
    }
  },
  watch: {
    'state.activeCategory': function (value) {
      console.log('coupon changed to ' + value)
      this.getCards(value)
    }
  },
  beforeMount () {
    console.log('Cards list fail', this.state)
    this.getCards()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
