<template>
  <div v-on:click="setModalInfo" class="card" v-bind:data-id="getCardValue(currentCard.id)" v-bind:style="{ backgroundImage: 'url(' + currentCard.picture + ')' }">
    <div class="card__wrapper">
      <div v-bind:class="dateShort[0]" class="corner-ribbon top-left shadow">
        {{dateShort[1]}}
      </div>
      <div class="card__event-main-inf">
        <h6 class="card__event-title">{{handleTitle(currentCard.event_name, 100)}}</h6>
      </div>
      <ul class="card__event-sec-inf">
        <li class="card__event-sec-item card__event-sec-item--purple">
          {{getCardValue(currentCard.starttime)}}
        </li>
        <li class="card__event-sec-item card__event-sec-item--green">
        {{getCardValue(currentCard.venue_name)}}
        </li>
      </ul>
    </div>
  </div>
</template>



<script>
import moment from 'moment'

export default {
  name: 'card',
  props: ['currentCard', 'state'],
  data: function () {
    return {
      msg: 'kethmar',
      date: function () {
        return new Date()
      }
    }
  },
  methods: {
    setModalInfo: function (event) {
      this.$set(this.state, 'activeModalCard', this.currentCard)
      this.$set(this.state, 'isModalOpen', true)

      console.log(this.state.isModalOpen)
    },
    getCardValue: function (cardValue) {
      return cardValue || ''
    },
    handleTitle: function (eventTitle, length) {
      eventTitle = this.getCardValue(eventTitle)

      if (eventTitle.length) {
        return eventTitle.substring(0, length) + '...'
      }
    }
  },
  computed: {
    dateShort: function () {
      let eventDate = this.currentCard.starttime

      eventDate = eventDate.replace(/\s\s+/g, ' ')
      eventDate = moment(eventDate, 'DD/MM/YYYY HH:mm')

      if (eventDate) {
        let currentDate = moment(moment(), 'DD/MM/YYYY HH:mm')

        if (moment(currentDate).isSame(eventDate, 'day')) {
          return ['red', 'TODAY!']
        } else if (moment(currentDate).add(1, 'day').isSame(eventDate, 'day')) {
          return ['purple', 'TOMORROW!']
        } else {
          return ['black', eventDate.format('DD/MM/YY')]
        }
      }
    },
    eventTime: function () {
      if (this.currentCard && this.currentCard.starttime) {
        return this.currentCard.starttime.toString().split(' ')[1]
      }
    }
  }
}
</script>