<script>
import jQuery from 'jquery'

export default {
  name: 'mainMenu',
  template: `
    <div class="main-menu">
      <div class="_hide-mobile main-menu__logo">
        <img src="./static/images/logo_real.png"/>
      </div>
      <ul class="main-menu__wrapper">
        <li><span data-category="sport" v-on:click="getCards" href="#">Sports</span></li>
        <li class="active"><span data-category="kift" v-on:click="getCards" href="#">Kift! events</span></li>
        <li><span data-category="pidu" v-on:click="getCards" href="#">Dance</span></li>
      </ul>
    </div>
  `,
  props: ['store', 'state'],
  methods: {
    getCards: function (event) {
      if (typeof event === 'function') {
        event.preventDefault()
      }

      let self = this
      let category = event.target ? event.target.dataset.category : 'editor'

      window.scrollTo(0, 0)

      jQuery('body').find('.main-menu__wrapper li').removeClass('active')
      jQuery(event.target).parent('li').addClass('active')

      self.$set(self.state, 'activeCategory', category)
    }
  },
  beforeMount () {
    this.getCards('editor')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
