<template>
  <div class="modal">
    <div class="modal__logo">
      <img src="/static/images/logo_real.png" alt="">
    </div>
    <div class="modal__wrapper">
      <div v-on:click="closeModal" class="modal__close-button">
        Close
      </div>
      <h1>
        {{state.activeModalCard.event_name}}
      </h1>
      <div class="modal__image-wrapper">
        <img v-bind:src="state.activeModalCard.picture" alt="">
      </div>
      <div class="modal__text-wrapper">
        <p>
          {{state.activeModalCard.description}}
        </p>

        <a class="modal__event-link" target="_blank" v-bind:href="'https://www.facebook.com/' + state.activeModalCard.id">More information</a>
      </div>
    </div>
  </div>
</template>

<script>
import jQuery from 'jquery'

export default {
  name: 'modal',
  props: ['store', 'state'],
  data: function () {
    return {
      scrollTopPos: 0
    }
  },
  methods: {
    openModal: function () {
      this.scrollTopPos = jQuery('body').scrollTop()
      this.$set(this.state, 'isLoading', true)
      this.$set(this.state, 'isModalOpen', true)
      jQuery('html').find('.modal').fadeIn()
      jQuery('html').find('#app').addClass('_hidden')

      window.scrollTo(0, 0)
    },
    closeModal: function () {
      let lastScrollTop = this.scrollTopPos

      this.$set(this.state, 'isModalOpen', true)
      jQuery('html').find('.modal').fadeOut()
      jQuery('html').find('#app').removeClass('_hidden')
      this.$set(this.state, 'isModalOpen', false)

      window.scrollTo(0, lastScrollTop)
    }
  },
  watch: {
    'state.isModalOpen': function (isOpen) {
      if (isOpen) {
        console.log('open')
        this.openModal()
        this.$set(this.state, 'isLoading', false)
      } else {
        console.log('not open')
        this.closeModal()
        this.$set(this.state, 'isLoading', false)
      }
    }
  },
  beforeMount () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
