@mixin mobile {
	@media (max-width: 700px) { @content; }
}

.card-list {
	display: flex;
	margin-right: -25px;
	position: relative;
	flex-wrap: wrap; 
	margin-top: 68px;
	margin-left: 25%;


	@include mobile {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 75px;
		margin-top: 0;
	}
}