$mainGreen: #51dfb8;
$mainPurple: #ce60d6;

@mixin mobile {
	@media (max-width: 700px) { @content; }
}

.card {
	font-family: 'Open Sans', sans-serif;
	height:400px;
	position: relative;
	background-size:cover;
	background-position: center;
	flex: 1 1 calc(50% - 25px);
    margin-right: 25px;
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;

    @include mobile {
	   	height: auto;
	    flex: 0 0 100%;
	    margin-right: 0;
    }

	&::before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  background-color: #000;
	  left: 0;
	  top: 0;
	  opacity: 0.8;
	  z-index: 0;
	}
	&__time-badge {
	  position: absolute;
	}
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		padding: 20px;
		box-sizing: border-box;
		z-index: 1;
		position: relative;
		flex-wrap: wrap;
		align-items: flex-end;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__event-main-inf {
	  width: 100%;
	  display: block;
	  color: #fff;
	  text-align: left;
	  text-transform: uppercase;
	}

	&__event-title {
	}

	&__event-sec-inf {
		align-self: flex-end;
	    padding-left: 0;
	    width: 100%;
	    color: #fff;
	    text-align: left;
	    font-size: 14px;
	    list-style: none;
	    position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 3px;
			display: block;
			background-color: #fff;
			margin: 15px 0;
			word-break: break-word;
		}

	    @include mobile {
	    	position: relative;
	    }
	}

	&__event-sec-item {
		margin-top: 10px;
	    margin-bottom: 10px;
	    padding-left: 15px;
	    position: relative;

	    &::before {
	    	content: "";
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 50px;
		    position: absolute;
		    background-color: #fff;
		    margin-top: auto;
		    margin-bottom: auto;
		    top: 0;
		    bottom: 0;
		    left: 0;
	    }

	    &--green {
			&::before {
				background-color: $mainGreen;
			}
	    }

	    &--purple {
			&::before {
				background-color: $mainPurple;
			}
	    }
	}

	&__time-badge {
	  position: absolute;
		left: -10px;
		top: -8px;
	  z-index: 1;
	  overflow: hidden;
	  width: 75px; height: 75px;
	  text-align: right;
	}
	&__time-badge span {
	  font-size: 10px;
	  font-weight: bold;
	  color: #FFF;
	  text-transform: uppercase;
	  text-align: center;
	  line-height: 30px;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  width: 100px;
	  display: block;
	  background: #3adfb2;
	  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	  position: absolute;
	  top: 19px; left: -21px;
	}
/* 	&__time-badge span::before {
	  content: "";
	  position: absolute; left: 0px; top: 100%;
	  z-index: -1;
	  border-left: 3px solid #318443;
	  border-right: 3px solid transparent;
	  border-bottom: 3px solid transparent;
	  border-top: 3px solid #318443;
	}
	&__time-badge span::after {
	  content: "";
	  position: absolute; right: 0px; top: 100%;
	  z-index: -1;
	  border-left: 3px solid transparent;
	  border-right: 3px solid #318443;
	  border-bottom: 3px solid transparent;
	  border-top: 3px solid #318443;
	} */

	h6.card__event-title,
	span.card__event-time {
	  font-size: 25px;
	  line-height: 30px;
	  font-weight: 800;
	  margin: 0;

	  @include mobile {
	  	font-size: 16px;
	  }
	}
}