.card-list {
  display: flex;
  margin-right: -25px;
  position: relative;
  flex-wrap: wrap;
  margin-top: 68px;
  margin-left: 25%; }
  @media (max-width: 700px) {
    .card-list {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 75px;
      margin-top: 0; } }

/*# sourceMappingURL=_card-list.css.map */
