$mainGreen: #51dfb8;
$mainPurple: #ce60d6;

@mixin mobile {
	@media (max-width: 700px) { @content; }
}

.main-menu {
	box-sizing: border-box;
    padding-right: 25px;
    position: fixed;
    width: 25%;
    flex: 0 0 auto;

    @include mobile {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	    height: 75px;
	    padding-right: 0;
	    z-index: 10;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e800d4+0,910080+100 */
		background: #fff; /* Old browsers */
    }

	&__logo {
		max-width: 200px;

		img {
			width: 100%;
		}
	}

	&__wrapper {
		width: 100%;
		display: block;
	    margin-top: 0px;
	    margin-left: 0;

	    @include mobile {
			width: 100%;
		    height: 100%;
		    margin-top: 0;
		    margin-right: 0;
			-webkit-box-shadow: -2px 0px 5px -1px rgba(0,0,0,0.75);
			-moz-box-shadow: -2px 0px 5px -1px rgba(0,0,0,0.75);
			box-shadow: -2px 0px 5px -1px rgba(0,0,0,0.75);
	    }

	    li {
	    	width: auto;
	    	display: inline-block !important;
	    	padding: 10px 0;
	    	font-family: 'Open Sans', Arial;
	    	font-size: 30px;
	    	font-weight: 700;
	    	margin: 0 !important;
	    	text-transform: uppercase;
		    clear: both;
		    float: left;
		    cursor: pointer;

		    @include mobile {
			    width: 33.3%;
			    clear: none;
			    height: 75px;
			    padding-top: 0;
			    padding-bottom: 0;
			    display: flex !important;
			    align-items: center;
		    }

	    	span {
	    		color: #22272b;
	    		text-decoration: none;

	    		@include mobile {
					height: auto;
				    display: block;
				    word-break: break-word;
				    font-size: 20px;
				    text-align: center;
				    width: 100%;
	    		}

			    @media (max-width: 500px) {
			    	font-size: 15px;
			    }
	    	}

	    	&:hover, &.active {
	    		padding: 10px 15px;
	    		background-color: #22272b;

	    		@include mobile {
					background-color: $mainGreen;
					padding: 0;
	    		}

	    		span {
	    			color: #fff;
	    		}
	    	}
	    }
	}
}