@mixin mobile {
	@media (max-width: 700px) { @content; }
}

.modal {
	font-family: 'Open Sans', Arial;
    position: relative;
    background-color: #fff;
    margin: 50px 150px;
    display: none;

    @include mobile {
    	margin: 0;
    }

    &__wrapper {
	    max-width: 75%;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 90px 50px;

	    @include mobile {
			width: 100%;
		    box-sizing: border-box;
		    padding: 15px;
		    width: 100%;
		    max-width: 100%;
	    }
    }

    &__modal {
    	h1 {
		    font-size: 36px;
    	}
    }

    &__text-wrapper {
		font-size: 16px;
		text-align: justify;
    }

    &__close-button {
		position: absolute;
		right: 70px;
		top: 20px;
		font-size:20px;
		background-color: #cd49d5;
		padding:10px 15px;
		color: #fff;
		text-align: center;
		cursor: pointer;
		margin-top: 25px;

		@include mobile {
			position: relative;
			right: 0;
			top: 0;
			margin-bottom: 15px;
		}
    }

    &__logo {
	    width: 150px;
	    height: auto;
	    position: absolute;
	    left: 70px;
	    top: 20px;
	    margin: -35px;

	    @include mobile {
	    	display: none;
	    }

	    img {
		    width: 100%;
		    height: auto;
	    }
    }

    &__image-wrapper {
		img {
			width: 100%;
		}
    }
}