.modal {
  font-family: 'Open Sans', Arial;
  position: relative;
  background-color: #fff;
  margin: 50px 150px;
  display: none; }
  @media (max-width: 700px) {
    .modal {
      margin: 0; } }
  .modal__wrapper {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 50px; }
    @media (max-width: 700px) {
      .modal__wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        max-width: 100%; } }
  .modal__modal h1 {
    font-size: 36px; }
  .modal__text-wrapper {
    font-size: 16px;
    text-align: justify; }
  .modal__close-button {
    position: absolute;
    right: 70px;
    top: 20px;
    font-size: 20px;
    background-color: #cd49d5;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 25px; }
    @media (max-width: 700px) {
      .modal__close-button {
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: 15px; } }
  .modal__logo {
    width: 150px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 20px;
    margin: -35px; }
    @media (max-width: 700px) {
      .modal__logo {
        display: none; } }
    .modal__logo img {
      width: 100%;
      height: auto; }
  .modal__image-wrapper img {
    width: 100%; }

/*# sourceMappingURL=_modal.css.map */
