$mainGreen: #51dfb8;
$mainPurple: #ce60d6;

@mixin mobile {
	@media (max-width: 700px) { @content; }
}
@mixin desktop {
	@media (min-width: 700px) { @content; }
}

body {
	margin: 0;
	background-image: url('./../images/taust.jpg');
	background-attachment: fixed;
	background-size: cover;
}

// Helpers
._no-background {
	background: transparent !important; 
}
._hidden {
	display: none !important;
}
._hide-mobile {
	@include mobile {
		display: none !important;
	}
}

// Ribbon
.corner-ribbon{
  width: 200px;
  background: #de2d24;
  position: absolute;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
	font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

    @include mobile {
	  top: auto;
	  right: -50px;
	  bottom: 25px;
	  left: auto;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  z-index: 10;
    }
}

.red {
  background-color: #de2d24;
}
.purple {
  background-color: $mainPurple;
}
.black {
  background-color: #22272b;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Colors */

.corner-ribbon.green{background: #41cc93;}
.corner-ribbon.purple{background: $mainPurple;}

._hide-desktop {
	@include desktop {
		display: none !important;
	}
}

#app {
	overflow: hidden;
    box-sizing: border-box;
    display: flex;
    padding: 25px;

    @include mobile {
    	padding: 0;
    	display: block;
    }
}

.mobile-logo {
	width: 100%;
    position: relative;
    padding: 25px;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border-top: #ee6bdb solid 25px;

    img {
    	width: 150px;
    	height: auto;
    }
}

@import 'card';
@import 'card-list';
@import 'main-menu';
@import 'spinner';
@import 'modal';