body {
  margin: 0;
  background-image: url("./../images/taust.jpg");
  background-attachment: fixed;
  background-size: cover; }

._no-background {
  background: transparent !important; }

._hidden {
  display: none !important; }

@media (max-width: 700px) {
  ._hide-mobile {
    display: none !important; } }

.corner-ribbon {
  width: 200px;
  background: #de2d24;
  position: absolute;
  text-align: center;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }
  @media (max-width: 700px) {
    .corner-ribbon {
      top: auto;
      right: -50px;
      bottom: 25px;
      left: auto;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      z-index: 10; } }

.red {
  background-color: #de2d24; }

.purple {
  background-color: #ce60d6; }

.black {
  background-color: #22272b; }

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

/* Colors */
.corner-ribbon.green {
  background: #41cc93; }

.corner-ribbon.purple {
  background: #ce60d6; }

@media (min-width: 700px) {
  ._hide-desktop {
    display: none !important; } }

#app {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  padding: 25px; }
  @media (max-width: 700px) {
    #app {
      padding: 0;
      display: block; } }

.mobile-logo {
  width: 100%;
  position: relative;
  padding: 25px;
  padding: 25px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
  border-top: #ee6bdb solid 25px; }
  .mobile-logo img {
    width: 150px;
    height: auto; }

.card {
  font-family: 'Open Sans', sans-serif;
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
  flex: 1 1 calc(50% - 25px);
  margin-right: 25px;
  margin-bottom: 25px;
  overflow: hidden;
  cursor: pointer;
  /* 	&__time-badge span::before {
  	  content: "";
  	  position: absolute; left: 0px; top: 100%;
  	  z-index: -1;
  	  border-left: 3px solid #318443;
  	  border-right: 3px solid transparent;
  	  border-bottom: 3px solid transparent;
  	  border-top: 3px solid #318443;
  	}
  	&__time-badge span::after {
  	  content: "";
  	  position: absolute; right: 0px; top: 100%;
  	  z-index: -1;
  	  border-left: 3px solid transparent;
  	  border-right: 3px solid #318443;
  	  border-bottom: 3px solid transparent;
  	  border-top: 3px solid #318443;
  	} */ }
  @media (max-width: 700px) {
    .card {
      height: auto;
      flex: 0 0 100%;
      margin-right: 0; } }
  .card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 0; }
  .card__time-badge {
    position: absolute; }
  .card__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end; }
  .card__event-main-inf {
    width: 100%;
    display: block;
    color: #fff;
    text-align: left;
    text-transform: uppercase; }
  .card__event-sec-inf {
    align-self: flex-end;
    padding-left: 0;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 14px;
    list-style: none;
    position: relative; }
    .card__event-sec-inf::before {
      content: "";
      width: 100%;
      height: 3px;
      display: block;
      background-color: #fff;
      margin: 15px 0;
      word-break: break-word; }
    @media (max-width: 700px) {
      .card__event-sec-inf {
        position: relative; } }
  .card__event-sec-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative; }
    .card__event-sec-item::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50px;
      position: absolute;
      background-color: #fff;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      left: 0; }
    .card__event-sec-item--green::before {
      background-color: #51dfb8; }
    .card__event-sec-item--purple::before {
      background-color: #ce60d6; }
  .card__time-badge {
    position: absolute;
    left: -10px;
    top: -8px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right; }
  .card__time-badge span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #3adfb2;
    box-shadow: 0 3px 10px -5px black;
    position: absolute;
    top: 19px;
    left: -21px; }
  .card h6.card__event-title,
  .card span.card__event-time {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    margin: 0; }
    @media (max-width: 700px) {
      .card h6.card__event-title,
      .card span.card__event-time {
        font-size: 16px; } }

.card-list {
  display: flex;
  margin-right: -25px;
  position: relative;
  flex-wrap: wrap;
  margin-top: 68px;
  margin-left: 25%; }
  @media (max-width: 700px) {
    .card-list {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 75px;
      margin-top: 0; } }

.main-menu {
  box-sizing: border-box;
  padding-right: 25px;
  position: fixed;
  width: 25%;
  flex: 0 0 auto; }
  @media (max-width: 700px) {
    .main-menu {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 75px;
      padding-right: 0;
      z-index: 10;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e800d4+0,910080+100 */
      background: #fff;
      /* Old browsers */ } }
  .main-menu__logo {
    max-width: 200px; }
    .main-menu__logo img {
      width: 100%; }
  .main-menu__wrapper {
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-left: 0; }
    @media (max-width: 700px) {
      .main-menu__wrapper {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
        -webkit-box-shadow: -2px 0px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 0px 5px -1px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 0px 5px -1px rgba(0, 0, 0, 0.75); } }
    .main-menu__wrapper li {
      width: auto;
      display: inline-block !important;
      padding: 10px 0;
      font-family: 'Open Sans', Arial;
      font-size: 30px;
      font-weight: 700;
      margin: 0 !important;
      text-transform: uppercase;
      clear: both;
      float: left;
      cursor: pointer; }
      @media (max-width: 700px) {
        .main-menu__wrapper li {
          width: 33.3%;
          clear: none;
          height: 75px;
          padding-top: 0;
          padding-bottom: 0;
          display: flex !important;
          align-items: center; } }
      .main-menu__wrapper li span {
        color: #22272b;
        text-decoration: none; }
        @media (max-width: 700px) {
          .main-menu__wrapper li span {
            height: auto;
            display: block;
            word-break: break-word;
            font-size: 20px;
            text-align: center;
            width: 100%; } }
        @media (max-width: 500px) {
          .main-menu__wrapper li span {
            font-size: 15px; } }
      .main-menu__wrapper li:hover, .main-menu__wrapper li.active {
        padding: 10px 15px;
        background-color: #22272b; }
        @media (max-width: 700px) {
          .main-menu__wrapper li:hover, .main-menu__wrapper li.active {
            background-color: #51dfb8;
            padding: 0; } }
        .main-menu__wrapper li:hover span, .main-menu__wrapper li.active span {
          color: #fff; }

.spinner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 20; }
  .spinner-wrapper--hidden {
    display: none; }

.sk-chasing-dots {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
  animation: sk-chasingDotsRotate 2s infinite linear;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.sk-chasing-dots .sk-child {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #51e0b9;
  border-radius: 100%;
  -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
  animation: sk-chasingDotsBounce 2s infinite ease-in-out; }

.sk-chasing-dots .sk-dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.modal {
  font-family: 'Open Sans', Arial;
  position: relative;
  background-color: #fff;
  margin: 50px 150px;
  display: none; }
  @media (max-width: 700px) {
    .modal {
      margin: 0; } }
  .modal__wrapper {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 50px; }
    @media (max-width: 700px) {
      .modal__wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        max-width: 100%; } }
  .modal__modal h1 {
    font-size: 36px; }
  .modal__text-wrapper {
    font-size: 16px;
    text-align: justify; }
  .modal__close-button {
    position: absolute;
    right: 70px;
    top: 20px;
    font-size: 20px;
    background-color: #cd49d5;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top: 25px; }
    @media (max-width: 700px) {
      .modal__close-button {
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: 15px; } }
  .modal__logo {
    width: 150px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 20px;
    margin: -35px; }
    @media (max-width: 700px) {
      .modal__logo {
        display: none; } }
    .modal__logo img {
      width: 100%;
      height: auto; }
  .modal__image-wrapper img {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
