<template>
  <div>
    <div v-bind:class="{'spinner-wrapper--hidden': !state.isLoading}" class="spinner-wrapper">
      <div class="sk-chasing-dots">
        <div class="sk-child sk-dot1"></div>
        <div class="sk-child sk-dot2"></div>
      </div>
    </div>
    <modal v-bind:store="store" v-bind:state="state"></modal>
    <div id="app">
      <div class="_hide-desktop mobile-logo">
        <img src="static/images/logo_real.png"/>
      </div>
      <mainMenu v-bind:store="store" v-bind:state="state"></mainMenu>
      <cardList v-bind:store="store" v-bind:state="state"></cardList>
    </div>
  </div>
</template>

<script>
import MainMenu from './components/Menu'
import Hello from './components/Hello'
import CardList from './components/CardList'
import Modal from './components/Modal'

let store = {
  state: {
    activeCategory: 'editor',
    isLoading: true,
    activeModalCard: {},
    isModalActive: false
  },
  setActiveCategory: function (newActiveCategory) {
    this.state.activeCategory = newActiveCategory
  }
}

export default {
  name: 'app',
  components: {
    MainMenu,
    Hello,
    CardList,
    Modal
  },
  data: function () {
    return {
      store: store,
      state: store.state
    }
  }
}
</script>

<style>
#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
